.navbar-light .navbar-brand {
    color: inherit;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: inherit;
}

.btn-outline-primary {
    color: #12C1C1;
    border-color: #12C1C1;
}

.btn-outline-primary:hover{
    background-color: #12C1C1;
    border-color: #12C1C1;
}   